body {
    background-color: #263238;
}
h1 {
    color: #FFFFFF;
}
table {
  width: 400px; /* è¡¨ã®å¹ */
  height: 800px; /* è¡¨ã®é«ã */
  /* ä¸­å¤®æãã«ãã */
  margin-left: auto;
  margin-right: auto;
}
td {
    width: 10%; /* ã»ã«ã®å¹ */
    height: 5%; /* ã»ã«ã®é«ã */
    background-color: #455A64; /* èæ¯è² */
}

.i {
  background-color: #00BCD4; /* cyan */
}

.o {
  background-color: #FFEB3B; /* yellow */
}

.t {
  background-color: #9C27B0; /* purple */
}

.s {
  background-color: #4CAF50; /* green */
}

.z {
  background-color: #F44336; /* red */
}

.j {
  background-color: #2196F3; /* blue */
}

.l {
  background-color: #FF9800; /* orange */
}
